.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  height: 20%;
  color: rgb(1, 2, 12);
  text-align: left;
}

.App-logo {
  margin-top: 1%;
  height: 20%;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-logo > img {
  height: 80%;
}

h2 {
  margin: 0 1%;
  position: relative;
  float: left;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.commodityImage {
  height: 100%;
  width: auto;
}

.commodityImageContainer {
  position: relative;
  float: left;
  height: 100%;
  width: 50%;
}

.App-exchangeRates {
  margin-top: 1%;
  height: 18%;
  width: 40%;
  right: 1%;
  position: absolute;
  align-items: right;
  justify-content: right;
  text-align: right;
}

.App-timer {
  margin-top: 1%;
  height: 18%;
  width: 40%;
  left: 2em;
  position: absolute;
  justify-content: center;
  text-align: left;
}

.App-timer > .capture {
  position: relative;
  float: left;
  height: 40%;
  width: 100%;
  font-size: 2.5em;
  display: flex;
  /* flex-direction: column;*/
  align-items: center; 
  /* justify-content: center;*/
}

.App-timer > .fullHeightCapture {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  font-size: 3em;
  display: flex;
  /* flex-direction: column;*/
  align-items: center; 
  /* justify-content: center;*/
}

.App-timer > .value {
  position: relative;
  float: left;
  height: 60%;
  width: 100%;
  font-size: 4em;
}

.App-exchangeRates > .row {
  position: relative;
  height: 50%;
  width: 100%;
}

.App-exchangeRates > .row > .cell {
  position: relative;
  float: left;
  margin: 1% 0;
  height: 85%;
  width: 50%;
  text-align: center;
}

.exchangeRate {
  text-align: left;
  font-size: 3em;
  height: 100%;
  display: flex;
  /* flex-direction: column;*/
  align-items: center; 
  /* justify-content: center;*/
}