.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  height: 19%;
  color: rgb(1, 2, 12);
  text-align: left;
}

.App-logo {
  padding: 1% 1.5%;
  height: 95%;
  width: auto;
  position: relative;
  float: left;
}

.App-logo > img {
  height: 95%;
  width: auto;
}

h2 {
  margin: 0 1%;
  position: relative;
  float: left;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

.commodityImage {
  height: 100%;
  width: auto;
}

.commodityImageContainer {
  position: relative;
  float: left;
  height: 100%;
  width: 50%;
}

.App-exchangeRates {
  margin-top: 1%;
  height: 18%;
  width: 40%;
  right: 1%;
  position: absolute;
  align-items: right;
  justify-content: right;
  text-align: right;
}

.App-timer {
  padding: 1%;
  height: 100%;
  width: auto;
  position: relative;
  float: left;
  justify-content: center;
  text-align: left;
}

.App-timer > div {
  height: 100%;
  width: 100%;
}

.App-timer .capture {
  position: relative;
  float: left;
  height: 40%;
  width: 100%;
  font-size: 2.5em;
  display: flex;
  /* flex-direction: column;*/
  align-items: center; 
  /* justify-content: center;*/
}

.App-timer div.fullHeightCapture {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  font-size: 3em;
  display: flex;
  /* flex-direction: column;*/
  align-items: center; 
  /* justify-content: center;*/
}

.App-timer .value {
  position: relative;
  float: left;
  height: 60%;
  width: 100%;
  font-size: 4em;
}

.App-exchangeRates > .row {
  position: relative;
  height: 50%;
  width: 100%;
}

.App-exchangeRates > .row > .cell {
  position: relative;
  float: left;
  margin: 1% 0;
  height: 85%;
  width: 50%;
  text-align: center;
}

.exchangeRate {
  text-align: left;
  font-size: 3em;
  height: 100%;
  display: flex;
  /* flex-direction: column;*/
  align-items: center; 
  /* justify-content: center;*/
}