div.App {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
}

[data-highcharts-chart] {
  position: relative;
  height: 77% !important;
} 

body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}